* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input:focus {
    outline: none;
}

#status {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #00ff00aa;
    cursor: pointer;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000055;
    z-index: 100;
    top: 100px;
    left: 0;
}

#loginPopup {
    width: 60%;
    height: 60%;
    margin: 50px auto;
    border-radius: 20px;
    border: 5px solid #0ae70a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #0ae70a;
    background: #00000055;
}

#loginPopup>* {
    margin: 10px 0;
    width: 80%;
    text-align: center;
}

#loginPopup>#title {
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bold;
    user-select: none;
}

#loginPopup>#nickname {
    font-size: 40px;
    border: 5px solid #0ae70a;
    border-radius: 20px;
    background: transparent;
    color: white;
}

#loginPopup>#login, #loginPopup>#reset {
    font-size: 40px;
    background: #0ae70a;
    border: 5px solid #0ae70a;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    user-select: none;
}

#status {
    color: white;
    font-size: 40px;
    padding: 0 20px;
    z-index: 20;
    user-select: none;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#alertOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    display: flex;
    padding-top: 200px;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    user-select: none;
}

#alertOverlay #alert {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid black;
    background: white;
    position: relative;
}

#alertOverlay #alert #close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    border-radius: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    cursor: pointer;
}

#alertOverlay #alert #title {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#alertOverlay #alert #body {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
}

#overlayWait {
    color: #0ae70a;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000088;
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    user-select: none;
}

#overlayWait #msg {
    font-size: 40px;
    text-align: center;
}

#overlayWait img {
    margin-top: 50px;
    width: 100px;
}